.title {
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 105px;
    color: #1C2323;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #404242;
}
.line {
    width: 135px;
    height: 0;
    background: #58A9A5;
    border: 3px solid #58A9A5;
    margin-bottom: 15px;
}